[user]
    name = Jorge Sacristan
    email = j.sacris@gmail.com
[init]
    defaultBranch = main
[core]
    fileMode = false
    autocrlf = false
[diff "image"]
    command = ~/bin/git-imgdiff
[alias]
    l = log --graph --full-history --color --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(bold)[%ad]%C(reset)%C(red)%d%C(reset) %s %C(green)<%cE>%C(reset) %C(yellow)%cn%C(reset)' --date=format:'%Y-%m-%d %H:%M:%S'
    l9 = log --graph --full-history --color --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(bold)[%ad]%C(reset)%C(red)%d%C(reset) %s %C(green)<%cE>%C(reset) %C(yellow)%cn%C(reset)%n' --date=format:'%Y-%m-%d %H:%M:%S' --numstat

