[user]
#    email = myEmail
#    name = myName 
[core]
    fileMode = false
    autocrlf = true
[diff "image"]
    command = ~/bin/git-imgdiff
[alias]
    l1 = log --graph --full-history --color --decorate --pretty=oneline    --abbrev-commit
    l2 = log --graph --full-history --color --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(bold)[%ad]%C(reset)%C(red)%d%C(reset) %s %C(green)<%cE>%C(reset) %C(yellow)%cn%C(reset)'   --date=format:'%Y-%m-%d %H:%M:%S'
    l3 = log --graph --full-history --color --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(bold)[%ad]%C(reset)%C(red)%d%C(reset) %s %C(green)<%cE>%C(reset) %C(yellow)%cn%C(reset)%n' --date=format:'%Y-%m-%d %H:%M:%S' --name-only
    l9 = log --graph --full-history --color --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(bold)[%ad]%C(reset)%C(red)%d%C(reset) %s %C(green)<%cE>%C(reset) %C(yellow)%cn%C(reset)%n' --date=format:'%Y-%m-%d %H:%M:%S' --numstat
